<header>
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <span>Tech Base</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</header>
<body class="appcontent">
  <router-outlet></router-outlet>
</body>


