.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
mat-form-field.mat-form-field {
  font-size: 16px;
}
div{
  text-align: center;
}
.container{
  position: center;
}

.formdiv {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
